html { height: 100%; 
font-size: 10px;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
  background:cornflowerblue;
    font-weight: 300;
    text-align:center;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}
/*HEXAFLIP*/
.demo {
  margin: 0 auto;
  -webkit-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
  -moz-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
  filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*HEADER SECTION*/
#header-box {
  padding: 10px;
  height:100vh;
}
#header-inner {
  margin:auto;
  margin-top:30px;
  max-width:880px;
}
.blur-bg {
   background:radial-gradient(ellipse at 48% 42%, rgba(139, 176, 244, 1) 0%, rgba(139, 176, 244, 1) 50%, rgba(100, 148, 237, 1) 100%);
}
h1 {
  color:#fff;  
  font-weight:600;
  font-family:'Indie Flower', cursive;
  padding: 20px;
  padding-top: 40px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h2 {
  font-weight:600;
  font-size:1.8rem; 
  font-family:'Indie Flower', cursive;
  text-transform: uppercase;
  margin:auto;
  padding-top: 40px;
  max-width: 850px;
}
/*HOVER COLORS*/
span {
  color:#fff;
}
/*FONTS CLOCK*/
#clock {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px;
  justify-content: center;
  grid-gap: 5px;
}
/*CLOCK ICONS*/
#iconA, #iconB ,#iconC, #iconD, #iconE, #iconF {
  font-size: 2.5rem;
 }
/*ABOUT ME SECTION*/
#box1a {
  height:100vh;
}
#about-box {
  margin:auto;
  max-width:880px;
  padding-bottom:40px;
}
#about-heading {
  color:#fff;  
  font-size:1.8rem;
  padding-top:50px;
}
#about-para {
  font-size:1.6rem;
  line-height: 1.5;
  padding:10px 20px;
}
/*PROJECT SECTION*/
h3 {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.9rem;
}
#box1b {
  background: cornflowerblue;
  width: 100%;
  height: 700px;
}
#hex-box {
  margin: 0 auto;
  padding-top:50px;
  padding-bottom:30px;  
  max-width: 350px;
  z-index: 10;
}
#pro-heading {
  padding-bottom: 30px;
}
#icon1 {
  position: relative;
  float: left;
  margin-left: 10px;
  top: 70px;
  font-size: 3.5rem;
}
#icon2 {
  position: relative;
  float: right;
  margin-right: 10px;
  top: 70px;
  font-size: 3.5rem;
}
#icon1:hover,
#icon2:hover {
  color: white;
}
.project-about {
  margin: 0 auto;
  padding: 0 20px;
}
#page-para {
  padding-top: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}
#links {
    color:blue;
  text-decoration: none;
  text-align: left;
}
#links:hover {
  color: red;
}
/*CONTACT ME AND FOOTER*/
#box2 {
  padding-top: 50px;
}
#contact-box {
  margin:auto;
  margin-top:50px;
  max-width:880px;
  padding-top:20px;
  padding-bottom:30px;
  margin-bottom:150px;
}
/*FOR HELP...TEXT*/
#lets {
  color:#fff;
  padding: 20px;
  padding-bottom:40px;
}
/*PHONE NUM A-LINK*/
 #tel {
  color:#333;
  padding: 20px;
  text-transform:none;
  text-decoration:none;
}
/*EMAIL A-LINK*/
#em {
  color:#333;
  padding: 0;
  text-transform:none;
  text-decoration:none;
}
/*EMAIL ADDRESS TEXT*/
#email-text {
  letter-spacing: 4px;
  text-decoration:none;
}
/*FONT AWESOME LINKS*/
.profile-links {
  color:#333;
  padding:10px;
  font-size: 3rem;
}
/*HOVER COLORS*/
.profile-links:hover, .site-links:hover {
  color:#fff;
}
/*SITE BY...TEXT*/
#by {
  font-size: 1.4rem;
  padding:5px;
  text-transform:uppercase;
  text-decoration:none;
}

@media only screen and (min-width: 400px) {
  h1 {
  padding-top:80px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)   {
  #box1 {
    height:700px;
    max-width:1100px;
    margin:0 auto;
  }
  #box1a {
    height:600px;
    float:left;
    width:45%;
  }
  #box1b {
    height:650px;
    float:right;
    width: 55%;
  }
  #about-para {
    line-height: 2.0;
  }
  #box2 {
    padding-top: 0;
  }
  #contact-box {
    margin-top:0;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   #page-para {
    line-height: 1.8;  
   }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   #box1 {
     height:650px;
   }
   #box1a {
     padding-top:60px;
     height:650px;
  }
  #box1b {
    height:650px;
  }
}
@media only screen and (min-width: 1200px) {}
