html {
  font-size: 10px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
'Helvetica Neue', Arial, sans-serif;
  
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  margin: 0;
}
/*Navbar*/
.navbar, .navbar-brand, #about, h2, h4 {
  font-family: 'Indie Flower', cursive;
}
.navbar, #header-img {
  font-size: 2.5rem;
}
/*Doodle*/
.doodle6 {
  position: fixed;
  z-index: -1;
  background: #0a0c27;
  
  --rule1: (
     @grid: 10 / 100vmax;
    : after {
      font-family:arial;
      font-weight:800;
  content: \@hex(@rand(9833,9837));
      color: transparent;  
  text-shadow: 0 0 0 hsla(@rand360, 70%, 70%, @rand.9);
   
      
    font-size: @rand(4vmax, 12vmax);
}
     
    animation: test infinite @r(50s, 100s) linear;
     
    @keyframes test {
        0% {
            opacity:0;
            transform: translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
        }
        2% {
            opacity:1;
        }
        50% {
          transform: translate3d(@r(-500%, 500%), @r(-500%, 500%), 0);
        }
        98% {
            opacity:1;
        }
        100% {
            opacity:0;
            transform: translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
          
    }
        }
  
  );}
/*Opening screen section*/
#box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height:400px;
}
h2 {
   text-align: center;
  font-size: 3.5rem;
  letter-spacing:1rem;
}
#about {
  color:linen;
  font-size: 4.5rem;
  letter-spacing:1rem;
  padding:0px 20px;
  padding-top:30px;
  max-width:700px;
}
/*Introduction, How much and video section*/
#box2 {
  padding:40px 10px;
  background:#f8f9fa;
  border-top-style: solid;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
}
p, #nt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.mark1 {
  background: hsla(70, 70%, 70%);
}
.mark2 {
  background: hsla(160, 70%, 70%, 0.5);
}
.mark3 {
  background: hsla(220, 70%, 70%, 0.5);
}
.mark4 {
  background: hsla(360, 70%, 70%, 0.5);
}
#heading1 {
  grid-area: about-head;
}
#about-me {
  padding:10px 10px;
  line-height:3rem;
  grid-area: about-me;
}
#how-it-works {
  display: flex;
  justify-content: center;
  
  grid-area: film;
  padding:30px 0px;
}
#how-it-works > iframe {
  height:270px;
  width: 360px;
}
#heading2 {
  grid-area: hm-head;
}
#hm {
  padding:10px 10px;
  line-height:3rem;
  grid-area: hm;
}
/*Carousel section*/
#box3 {
  padding:40px 10px;
  background:hsl(0, 1%, 78%, 0.8);
  width:100%;
  height:400px;
  border-style: solid none;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
}
.caro {
  padding-top:60px;
}
div.carousel-caption {
  font-size: 1.8rem;
}
.author {
  color:black;
}
/*Bio and Gallery section*/
#box4 {
  padding:40px 10px;
  background:#f8f9fa;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
}
/*Bio section*/
#heading4 {
  grid-area: bio-head;
}
#mybio {
  padding:10px 10px;
  padding-bottom:40px;
  line-height:3rem;
  grid-area: bio;
}
.img-me {
  margin:auto;
}
.img-divA {
width: 100%;
max-width: 400px;
}
.img-div {
border: 1px solid #BFBFBF;
background-color: white;
box-shadow: 10px 10px 5px #aaaaaa;  
}
#pic-me {
  grid-area: pic-me;
}
#image {
width: 100%;
display: block;
height: auto;
}
#img-caption {
text-align: center;
padding: 10px 20px;
}
/*Gallery section*/
#box4b {
  padding-top:40px;
}
#heading5 {
  grid-area: gal-head;
}
#about-gal {
  padding:10px 10px;
  grid-area: about-gal;
}
.img-gal {
  margin:auto;
  margin-top:50px;
}
.img-divB {
width: 100%;
max-width: 300px;
}
#pic1 {
  grid-area: pic1;
}
#pic2{
  grid-area: pic2;
}
#pic3 {
  grid-area: pic3;
}
/*Contact section*/
#box5 {
  padding:40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}
#heading6 {
  color:white;}
label {
  color:white;
}
/*Footer*/
#footer {
  background:#f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-style: solid;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
  height: 100px;
}
h4 {
font-size:4rem;
}
@media (min-width: 460px) {
  #how-it-works > iframe {
  height:300px;
  width: 400px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div.carousel-caption {
   font-size: 2rem;
  }
  #box2 {
    padding:40px 20px;
   }
  .rotate_left {
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Safari */
  transform: rotate(-7deg);
}
  .rotate_right {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #box {
    height:450px;
  }
  #box2 {
    padding:40px 40px;
  }
  #box4 {
    padding:40px 40px;
  }
  .img-gal {
    margin-top:0px;
  }
  #pic3 {
  margin-top:40px;
}
  #box4b {
    display: grid;
    grid-template-areas:
    'gal-head gal-head'
    'about-gal about-gal'  
    'pic1 pic2'
    'pic3 pic3';
    grid-template-columns: auto auto;
    grid-gap: 40px;
    justify-content: space-evenly;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #box2 {
    display: grid;
    grid-template-areas:
    'about-head film'
    'about-me film'
    'hm-head film'
    'hm film';
   grid-template-columns: auto 460px;
   grid-gap: 20px;
   justify-content: center;
  }
  #how-it-works {
  padding:100px 0px;
}
   
  #box4a {
    display: grid;
    grid-template-areas:
    'bio-head pic-me'
    'bio pic-me';
  grid-template-columns: auto 460px;
  grid-gap: 20px;
   justify-content: center;
  }
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #box2 {
    display: grid;
    grid-template-areas:
    'about-head film'
    'about-me film'
    'hm-head film'
    'hm film';  
    grid-template-columns: 500px 500px;
    grid-gap: 20px;
    justify-content: center;
}
  #box4a {
    display: grid;
    grid-template-areas:
    'bio-head pic-me'
    'bio pic-me';
    grid-template-columns: 500px 500px;
    grid-gap: 20px;
    justify-content: center;
  }
  #pic3 {
  margin-top:0px;
}
  .img-gal {
    margin-top:50px;
    margin-top:0px;
  }
  #box4b {
    display: grid;
    grid-template-areas:
    'gal-head gal-head gal-head'
    'about-gal about-gal about-gal'  
    'pic1 pic2 pic3';
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    justify-content: center;
    margin-bottom:100px;
  }
}
