html {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  margin: 0;
}
.navbar, .navbar-brand, #about, #heading1, #heading2, #heading3, h4 {
  font-family: 'Indie Flower', cursive;
}
#about {
  color:linen;
}
#nt, #about-me {
  font-size: 2rem;
}
.navbar, #header-img {
  font-size: 2.5rem;
}

#heading1, #heading2, #heading3 {
   text-align: center;
  font-size: 3.5rem;
  letter-spacing:1rem;
}
#heading1 {
  grid-area: about-head;
}
#heading3 {color:white;}
h4 {
font-size:4rem;

}
#about-me {
  padding:10px 10px;
  line-height:3rem;
  grid-area: about-me;
}
#how-it-works {
  display: flex;
  justify-content: center;
  align-items:center;
  grid-area: film;
  padding:30px 0px;
}
#how-it-works > iframe {
  height:270px;
  width: 360px;
  
}
#doodle {
   position: fixed;
   z-index: -1;
}
/*.doodle6 {
  position: fixed;
  z-index: -1;
  background: #0a0c27;
  --rule1: (
     @grid: 10 / 100vmax;
    :after {
  content: \@hex(@rand(9833,9837));
    color: hsla(@r360, 70%, 70%, @r.9);
    font-size: @r(4vmax, 12vmax);
}
     
    animation: test infinite @r(50s, 100s) linear;
     
    @keyframes test {
        0% {
            opacity:0;
            transform: translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
        }
        2% {
            opacity:1;
        }
        50% {
          transform: translate3d(@r(-500%, 500%), @r(-500%, 500%), 0);
        }
        98% {
            opacity:1;
        }
        100% {
            opacity:0;
            transform: translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
          
    }
        }
  
  );}*/
#mark1 {
  background: hsla(70, 70%, 70%);
}
#mark2 {
  background: hsla(160, 70%, 70%, 0.5);
}
#mark3 {
  background: hsla(220, 70%, 70%, 0.5);
}
#mark4 {
  background: hsla(360, 70%, 70%, 0.5);
}
#box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height:400px;
}
#about {
  font-size: 4.5rem;
  letter-spacing:1rem;
  padding:0px 20px;
  padding-top:30px;
  max-width:700px;
}
#box2 {
  padding:40px 10px;
  background:#f8f9fa;
  border-top-style: solid;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
}
#box3 {
  padding:40px 10px;
  background:hsl(0, 1%, 78%, 0.8);
  width:100%;
  height:400px;
  border-style: solid none;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
}
#box4 {
  padding:40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}
#footer {
  background:#f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-style: solid;
  border-width: 5px;
  border-color: hsl(0, 1%, 50%);
  height: 100px;
}
.caro {
  padding-top:60px;
}
div.carousel-caption {
  font-size: 1.8rem;
}
.author {
  color:black;
}
#img-caption {
  font-size: 1.4rem;
}
@media (min-width: 460px) {
  #how-it-works > iframe {
  height:300px;
  width: 400px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div.carousel-caption {
   font-size: 2rem;
  }
  #box2 {
    padding:40px 20px;
   }
    
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #box {
    height:450px;
  }
  #box2 {
    padding:40px 40px;
  }
  #about {
    font-size:4.5rem;
  }
  #how-it-works {
    padding:30px 0px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #box2 {
    display: grid;
    grid-template-areas:
    'about-head film'
    'about-me film';
  grid-template-columns: auto 460px;
  grid-gap: 20px;
   justify-content: center;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #box2 {
    display: grid;
    grid-template-areas:
    'about-head film'
    'about-me film';
  grid-template-columns: 500px 500px;
  grid-gap: 20px;
   justify-content: center;
}
